// Scss file for cihankoseoglu static github page.

// fonts

@import url(https://fonts.googleapis.com/css?family=Abel);

// colors

$blue-bg : #20c0d0;
$white-color : #efefef;
$black-color: #333333;

// site scss

body{
  background-color: $blue-bg;
  color: $white-color;
  margin:0;
  padding:0;
  font-family: 'Abel', 'Helvetica', 'sans-serif';

  .nav{
    height:1em;
    float:right;
    margin:{
      right:1em;
      top:0;
      bottom:0;
    }

    img{
      width: 50px;
    }
  }

  .wrapper{
    margin:{
      top:10em;
      bottom:10em;
      left:2em;
    };
  }

  a{
    color: $black-color;
    text-decoration: none;

    padding:{
      right:2em;
    }

  }

  h2{
    font-size: 24pt;
  }

  h3{
    font-size:18pt;
  }

  p{
    margin:{
      top:0.4em;
      bottom:0.4em;
    }
  }

  .row{
    margin:{
      top:0.8em;
      bottom:0.8em;
    }
  }

  blockquote{
    border:{
      left:{
        style:solid;
        width:0.2em;
        color:$white-color;
      }
    }

    padding:{
      left:1em;
    }

    margin:0;
  }

  #chart{
    display: block;
    position: fixed;
    width: 320px;
    right:10em;
    bottom: 0;
  }

}

@media screen and (max-width: 480px) {
    body {
      margin:{
        right:0.4em;

      }

      .nav{
        display: none;
      }
    }

}


@media screen and (max-width: 900px) {

    #chart{
      display: none;
      visibility: hidden;
    }

    svg{

        display: none;
        visibility: hidden;
    }


}
@media screen and (min-width: 1600px) {
    body {


      h2{
        font-size: 32pt;
      }

      h3{
        font-size: 24pt;

      }

      p{
        font-size: 16pt;
      }
      margin:{
        right:0.4em;

      }

    }
}
